<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>本地相册和视频.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FC23BA01DB9F46C0068728F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC23BB91DB9F46D0068728F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC23BC41DB9F46D0068728F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
